## 異世界のmean,medianの違いを調べるぞい

In [1]:
import pandas as pd 
import numpy as np
import statistics
import math

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

In [2]:
df = pd.read_excel("2014parallel_table.xlsx")

In [3]:
df.head()

   prefid      pref  distnum party  win   votes  tvotes     vshare  rank
0       1  Hokkaido        1     Y    2  148429  267791  55.427180     1
1       1  Hokkaido        1     X    0  105918  267791  39.552487     2
2       1  Hokkaido        1    99    0   13444  267791   5.020333     3
3       1  Hokkaido        2     X    2   88667  228241  38.847972     1
4       1  Hokkaido        2     Z    0   56375  228241  24.699769     2

In [4]:
table_mm = np.random.rand(47,7)
table_mm = pd.DataFrame(table_mm)
table_mm.columns = ["選挙区数","mean-median_自公","mean-median_野党共闘(仮想)","mean-median_維新","標準偏差_自公","標準偏差_野党共闘(仮想)","標準偏差_維新"]
table_mm = table_mm[table_mm[:] ==0]
table_mm.loc[:,"県番号"] = [bango for bango in range(1,48)]

In [5]:
#県で分けて政党名を処理する
def get_pref(prefid):
    get_pref = df[df["prefid"].isin([int(prefid)])]
    #get_pref = df[df["prefid"] == prefid]
    return get_pref

In [6]:
prefname = []
k = 1
while k<=47:
    pref = get_pref(k)
    #各県の選挙区数
    table_mm.iat[k-1,0] = pref["distnum"][-1:]
    
    #都道府県名
    prefname.append(pref["pref"][-1:])
    
    zikou_df = pref[pref["party"].isin(["X"])]
    yatou_df = pref[pref["party"].isin(["Y"])]
    #vshareはパーセンテージなんですよね、/100します
    zikou_vshare = zikou_df.loc[:,"vshare"]
    zikou_vshare = zikou_vshare.values.tolist()
    zikou_vshare_decimal = [n / 100 for n in zikou_vshare]
    
    yatou_vshare = yatou_df.loc[:,"vshare"]
    yatou_vshare = yatou_vshare.values.tolist()
    yatou_vshare_decimal = [n / 100 for n in yatou_vshare]
    #mean,median
    zikou_mean = statistics.mean(zikou_vshare_decimal)
    zikou_median = statistics.median(zikou_vshare_decimal)
    table_mm.iat[k-1,1] = zikou_median - zikou_mean
    
    yatou_mean = statistics.mean(yatou_vshare_decimal)
    yatou_median = statistics.median(yatou_vshare_decimal)
    table_mm.iat[k-1,2] = yatou_median - yatou_mean
    #標準偏差を求めて代入    
    sddv_zikou = np.array(zikou_vshare_decimal)
    table_mm.iat[k-1,4] = np.std(sddv_zikou)
    
    sddv_yatou = np.array(yatou_vshare_decimal)
    table_mm.iat[k-1,5] = np.std(sddv_yatou)
    
    #野党は別に全都道府県に立候補してないぞ??
    
    k = k+1

In [7]:
number_dist = pd.read_excel("efgp_2014_parallel.xlsx")
number_dist.loc[:,"県番号"] = [bango for bango in range(1,48)]

In [8]:
isin_bango = number_dist[number_dist["維新候補者数"].isin([0]) == False].loc[:,"県番号"]
for kaisu in isin_bango:
    pref = get_pref(kaisu)
    isin_df = pref[pref["party"].isin(["Z"])]
    isin_vshare = isin_df.loc[:,"vshare"]
    isin_vshare = isin_vshare.values.tolist()
    isin_vshare_decimal = [n/100 for n in isin_vshare]
    #mean,median
    isin_mean = statistics.mean(isin_vshare_decimal)
    isin_median = statistics.median(isin_vshare_decimal)
    table_mm.iat[kaisu-1,3] = isin_median - isin_mean
    #標準偏差を求めて代入    
    sddv_isin = np.array(isin_vshare_decimal)
    table_mm.iat[kaisu-1,6] = np.std(sddv_isin)

In [9]:
table_mm.index = number_dist.index

In [10]:
significance_level = np.random.rand(len(table_mm.index),3)
significance_level = pd.DataFrame(significance_level) 
significance_level.index = table_mm.index
significance_level.columns = ["sgfl自公","sgfl野党","sgfl維新"]
significance_level = significance_level[significance_level[:] ==0]

In [11]:
shili_list = ["標準偏差_自公","標準偏差_野党共闘(仮想)","標準偏差_維新"]
for nankai, shili in enumerate(shili_list):
    seito_bango = table_mm[table_mm[shili].isin([0]) == False].loc[:,"県番号"]
    for kaisu in seito_bango:
        sgfl_shili = (table_mm.iat[kaisu-1,1+nankai] * (table_mm.iat[kaisu-1,0]**0.5) / (0.756 * table_mm.iat[kaisu-1,4+nankai]))
        significance_level.iloc[kaisu-1,[nankai]] = sgfl_shili

In [12]:
significance_level.head()

            sgfl自公    sgfl野党  sgfl維新
Hokkaido -0.138784  1.570409     0.0
Aomori   -0.144222 -0.182239     0.0
Iwate    -1.094880  0.156530     NaN
Miyagi   -0.106688  0.284605     NaN
Akita    -1.359492  1.159711     NaN

In [14]:
zero = significance_level[(significance_level.iloc[:,:] >= 1.75) | (significance_level.iloc[:,:] <= -1.75)]
zero = zero.dropna(how = "all")
zero

         sgfl自公    sgfl野党    sgfl維新
Saitama     NaN  2.796449  3.080848
Chiba       NaN  2.478287 -2.463941
Gifu        NaN  1.821977       NaN
Aichi       NaN  1.791112       NaN
Osaka       NaN -2.799819       NaN

In [15]:
koeta = ["Saitama","Chiba","Gifu","Aichi","Osaka"]
changed_pref = ["Hokkaido","Aomori","Iwate","Miyagi","Fukushima","Saitama","Chiba","Tokyo","Kanagawa","Aichi","Mie","Osaka","Hyogo","Nara","Ehime","Fukuoka","Nagasaki","Kumamoto","Kagoshima"]

In [22]:
henka_table = pd.read_excel("2017-2014parallel_fluctuation.xlsx")
sig2017 = pd.read_excel("2017significance_level.xlsx")

In [27]:
xugou_sig_2014 = significance_level.loc[changed_pref]
xugou_sig_2014.columns = ["sgfl自公","sgfl野党1","sgfl野党2"]
#sig2017 = sig2017.set_index("都道府県")
sig2017_aru = sig2017.loc[changed_pref]
sig2017_aru.columns = ["sgfl自公","sgfl野党1","sgfl野党2"]

In [44]:
hikaku_nokoru = pd.read_excel('2017-2017candidates.xlsx')

In [45]:
sig_henka = sig2017_aru - xugou_sig_2014
awase = pd.concat([hikaku_nokoru,henka_table,sig_henka],axis=1)

In [46]:
awase

,自公候補者数増減,野党共闘候補者数増減,維新系候補者数増減,自公連立当選者数,野党共闘1当選者数,野党共闘2当選者数,sgfl自公,sgfl野党1,sgfl野党2
都道府県,,,,,,,,,
Hokkaido,0,-1,1,-2,1,0,-1.563328,0.703943,1.953886
Aomori,-1,-1,1,-1,0,0,1.713791,-0.456548,-1.190040
Iwate,-1,-3,2,0,-2,1,0.589883,NaN,NaN
Miyagi,0,-2,1,0,-1,0,-0.270316,-2.053783,NaN
Fukushima,0,-3,1,0,-1,-1,-0.596192,-0.956038,NaN
Saitama,0,0,7,0,-1,1,1.201913,-4.246879,-2.586180
Chiba,0,-4,7,1,-2,0,-1.144950,-4.502583,0.942230
Tokyo,0,-9,16,-3,3,0,0.933122,-0.008318,-2.091076
Kanagawa,0,-1,9,-1,1,0,0.756304,-1.434594,0.339875
Aichi,0,-2,9,0,-4,2,0.929658,-4.000345,0.464848
Mie,-1,-3,0,-1,-2,0,0.448424,-0.225318,NaN
Osaka,0,-5,1,1,0,-2,-0.447991,0.210013,-0.028542
Hyogo,1,0,-1,3,-1,-1,1.657032,-1.230740,-0.622235
Nara,-1,-1,1,0,-1,0,0.517537,-0.718030,NaN
Ehime,0,0,1,-1,0,1,0.121785,0.020231,-0.064897
Fukuoka,1,-1,7,1,0,0,1.495442,-1.125761,NaN
Nagasaki,0,0,3,-1,0,1,1.511182,0.869023,NaN
Kumamoto,0,-2,0,0,0,0,-1.176951,-0.353259,NaN
Kagoshima,-1,-1,2,-1,1,0,-2.120383,-0.955588,NaN